.MuiInputBase-root{
    .MuiInputBase-input:focus{
        box-shadow: none !important;
        border-color: none !important;
        }
    
}
label+.MuiInputBase-root {
    margin-top: 0px !important;
    padding-top: 0px !important;
    width: 100%;
}
::-webkit-input { /* Chrome/Opera/Safari */
    color: #6F7897;
    }
    ::-moz-placeholder { /* Firefox 19+ */
    color: #6F7897;
    }
    :-ms-input-placeholder { /* IE 10+ */
    color: #6F7897;
    }
    :-moz-placeholder { /* Firefox 18- */
    color: #6F7897;
    }