@import "../../../../../../public/assets/css/colors.scss";
.uploadLogo{

     .MuiDropzoneArea-root{
        margin-top: 32px;
      background: #282938;
      border: 1px dashed #4C4E67;
      border-radius: 8px;
     }


}