
$colorBack: #171720;
$colorWhite: #ffffff;
$colorBackLight: #CDCDD7;
$colorBackDark: #1F2331;
$colorRed: #F67272;


$colorTavusButtonBlue:#1877F2;
$colorTavusDisabled:#303443;
$colorTavusWhite: #ffffff;
$colorTavusBackgroundGray: #171720; 
$colorTavusGray: #757B8C;
$colorTavusGrayscaleDark:#141518;
$colorTavusGrayscaleDark1:#1E1F25;
$colorTavusGrayscaleDark2: #282C38;
$colorTavusGrayscaleGray3:#3C4254;
$colorTavusGrayscaleGray4:#4B5162;
$colorTavusGrayscaleLightGray:#595F70;
$colorTavusGrayscaleLightGray1:#757B8C;
$colorTavusGrayscaleLightGray2:#989CA9;
$colorTavusGrayscaleLightGray3:#BABDC6;
$colorTavusGrayscaleLightGray4:#DDDEE3;


$bgColor: rgba(255, 233, 234, 0.7);

$Poppins: 'Poppins';


$SatoshiVariable: 'Satoshi-Variable', arial, sans-serif;

$Thin: 100;
$Normal: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$LargeBold: 800;
$XtraBold: 900;



