@import "../../../../../../../public/assets/css/colors.scss";
.landing-page{
    // border-radius: 30px;
    .mainBox{
        padding: 77px 73px 123px 74px;
        // padding: 69px 65px 115px 66px;
        display: flex;
        @media (max-width: 959px) {
            padding: 15px 13px 16px;
        }
        .landing-logo{
            border-radius: 20px;
            margin-bottom: 77px;
            height: 88px;
            display: flex;
            align-items: center;
            .LogoImg{
                width: 190px;
                height: 88px;
                img{
                    width: 100%;
                }
            }
            @media (max-width: 959px) {
                margin-bottom: 16px;
            }
            img{
                padding-left: 10px;
            }
        }
        .boxLeft{
            width: 66%;
            .templateImg{
                img{
                    width: 100%;
                }
            }
            @media (max-width: 959px) {
                margin-bottom: 16px;
            }
        }
        
        .boxRight{
            width: 34%;
            padding-left: 18px;
            @media (max-width: 959px) {
                padding-left: 38px;
                padding-right: 26px;
            }
            .basicBUtton{
                .MuiButtonBase-root{
                    border-radius: 16px !important;
                    width: 259px;
                    mix-blend-mode: normal;
                }
            }
        }
        .templateText{
            h2.templateTitle{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 60px;
                letter-spacing: 0.1px;
                margin: 0px;
            }
            p.templatePTitle{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 34px;
                letter-spacing: 0.1px;
                margin: 0px;
            }
            h4.templateSubTitle{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 29px;
                line-height: 60px;
                letter-spacing: 0.1px;
                margin: 0px;
            }
        }
    }

}
.landing-page-1{
    max-width: 360px;
    margin: auto;
    border-radius: 40px;
    .mainBox{
        padding: 0px;
        .landing-logo{
            border-radius: 20px;
            margin-bottom: 77px;
            height: 54px;
            display: flex;
            align-items: center;
                margin-bottom: 16px;
                img{
                    padding-left: 10px;
                }
        }
        .boxLeft{
            width: 100%;
            .templateImg{
                img{
                    width: 100%;
                }
            }
                margin-bottom: 16px;
        }
        
        .boxRight{
            width: 100%;
                padding-left: 38px;
                padding-right: 26px;

                .templateBtn .basicBUtton .MuiButtonBase-root , .basicBUtton{
                    width: 100%;
                }
        }
        .templateText{
            h2.templateTitle{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 60px;
                letter-spacing: 0.1px;
                margin: 0px;
            }
            p.templatePTitle{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 34px;
                letter-spacing: 0.1px;
                margin: 0px;
            }
            h4.templateSubTitle{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 60px;
                letter-spacing: 0.1px;
                margin: 0px;
            }
        }
        
    }


    }