.MuiLinearProgress-colorPrimary {
    background:#3C4254 !important;
    height: 8px !important;
    border-radius: 2.5px;
}
.MuiLinearProgress-barColorPrimary {
    background-color: #1877F2 !important;
}