@import "../../../../../../public/assets/css/colors.scss";


.contDev {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding: 0px, 20px, 20px, 0px;
  padding: 0px 32px;
  .dataListContainer {
    .listingContainer {
      height: 90px;
      .borderLine {
        height: 0px;
        opacity: 0.2;
        border: 1px solid #6f7897;
      }
      .list-data {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h1 {
          font-family: $SatoshiVariable;
          font-size: 14px;
          line-height: 20px;
          font-style: normal;
          font-weight: 500;
          align-items: center;
          letter-spacing: 0.1px;
          color: #ffffff;
          margin-bottom: 4px;
        }
        p {
          font-family: $SatoshiVariable;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          align-items: center;
          letter-spacing: 0.1px;
          color: #6f7897;
        }
      }
      p {
        font-family: $SatoshiVariable;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        align-items: center;
        letter-spacing: 0.1px;
        color: #6f7897;
      }
      .downloadSvg{
        cursor: pointer;
      }
    }
  }
}
