@import "../../../../public/assets/css/colors.scss";


.backdrop {
  background-color: transparent;
}
.multi-dropd{
  margin: 10px;
  .sort-by{
    padding-right: 5px;
  }
  .multi-dropd-img {
    position: absolute;
    right: 10px;
}
}
.directory-links-drawer {
  padding: 10px;

  .day-list li {
    padding: 10px;
    font-size: 24px;
    margin-top: 5px;

    a {
      font-weight: 500;
      font-family: Work Sans;
      color: $colorBack;

    }

    a:hover {
      text-decoration: none;
    }
  }

  .day-list li:hover {
    border-radius: 6px;
  }
}

