@import "../../../../public/assets/css/colors.scss";

.multi-select{
  padding: 0px 8px;
  .css-1r4vtzz{
    box-shadow: none;
  }
  .css-48ayfv{
    box-shadow: none;
  }
  .css-ik6y5r {
    position: absolute;
    background: #fff;
    left: -82px;
    top: -9px;
}
}